<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/head :: baseHead(~{::title}, ~{})">
        <title>Showing Post</title>
    </head>
    <body>
        <nav th:replace="/fragments/nav :: baseNav"></nav>
        <main>
            <h1 th:text="${post.title}"></h1>
            <p>
                Created By: <span th:text="${post.owner.username}"/> | <a th:href="@{mailto:{email}(email = ${post.owner.email})}"
                                                                          th:text="${post.owner.email}"></a>
            </p>
            <p th:text="${post.body}"></p>
        </main>
    </body>
</html>