@import 'utils/reset.css';
@import "forms.css";
@import "utils/utils.css";


*,
*::before,
*::after {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

html, body, main {
	margin: 0;
	padding: 0;
	width: 100vw;
	background-color: var(--color-secondary);
	color: var(--color-primary);
}


main {
	display: flex;
	flex-direction: column;
}

nav a {
	text-decoration: none;
	color: var(--color-primary);
	transition: all 0.2s ease-in-out;
}

nav a:hover {
	opacity: .75;
}